In [1]:
import pandas as pd
from summarytools import dfSummary
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df_driver=pd.read_csv("GrandPrix_drivers_details_1950_to_2022.csv")
df_driver

,Pos,Driver,Nationality,Car,PTS,year
0,1,Nino Farina FAR,ITA,Alfa Romeo,30.0,1950
1,2,Juan Manuel Fangio FAN,ARG,Alfa Romeo,27.0,1950
2,3,Luigi Fagioli FAG,ITA,Alfa Romeo,24.0,1950
3,4,Louis Rosier ROS,FRA,Talbot-Lago,13.0,1950
4,5,Alberto Ascari ASC,ITA,Ferrari,11.0,1950
...,...,...,...,...,...,...
1613,18,Zhou Guanyu ZHO,CHN,Alfa Romeo Ferrari,6.0,2022
1614,19,Alexander Albon ALB,THA,Williams Mercedes,4.0,2022
1615,20,Nicholas Latifi LAT,CAN,Williams Mercedes,2.0,2022
1616,21,Nyck De Vries DEV,NED,Williams Mercedes,2.0,2022
1617,22,Nico Hulkenberg HUL,GER,Aston Martin Aramco Mercedes,0.0,2022

In [3]:
df_fastest_laps= pd.read_csv("GrandPrix_fastest-laps_details_1950_to_2022.csv", encoding='ISO-8859-1')
df_fastest_laps.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1078 entries, 0 to 1077
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Grand Prix  1078 non-null   object
 1   Driver      1078 non-null   object
 2   Car         1078 non-null   object
 3   Time        1078 non-null   object
 4   year        1077 non-null   float64
dtypes: float64(1), object(4)
memory usage: 42.2+ KB

In [4]:
df_race=pd.read_csv("GrandPrix_races_details_1950_to_2022.csv", encoding='ISO-8859-1')
df_race.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1082 entries, 0 to 1081
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Grand Prix  1082 non-null   object
 1   Date        1082 non-null   object
 2   Winner      1082 non-null   object
 3   Car         1082 non-null   object
 4   Laps        1079 non-null   float64
 5   Time        1082 non-null   object
 6   year        1079 non-null   float64
dtypes: float64(2), object(5)
memory usage: 59.3+ KB

In [5]:
df_driver.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1618 entries, 0 to 1617
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Pos          1618 non-null   object
 1   Driver       1618 non-null   object
 2   Nationality  1618 non-null   object
 3   Car          1607 non-null   object
 4   PTS          1618 non-null   float64
 5   year         1618 non-null   int64
dtypes: float64(1), int64(1), object(4)
memory usage: 76.0+ KB